.shipping{
    width: 80%;
    height: 20%;
    background-color: black;
    color: white;
    margin-left: 100px;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 50px;
    }
    
    .cart{
    width: 85%;
    height: 120%;
    margin-left: 100px;
    padding-left: 5px;
    background-color: white;
    }
    
   .second-div{
    display: flex;
    }
    
    .image1{
    padding-top: 10px;
    display: inline;
    padding-right: 15px;
    }
    
    .delete{
    float: left;
    
    padding-left: 5px;
    margin-top: 25px;
    margin-bottom: 60px;
    margin-right:40px;
    

    }
    
    .PriceVal{
    width: 95px;
    height: 40px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    display: flex;
    }
    
    .counter{
    float: left;
    display: flex;
    padding-left: 60px;
    margin-top: 25px;
    margin-bottom: 60px;
    }
    
    .desc{
    padding-top: 10px;
    padding-right: 10px;
    }
    .p1{
    background-color: lightgray;
    margin-left: 100px;
    padding-left: 10px;
    width: 80%;
    height: 90%;
    text-align: right;
    }